<!DOCTYPE html>
<html lang="en">

<head>
    <title>Players</title>
</head>

<body>

<div class="container">
    <br>
    <div class="row">

        <div class="col-4">
            <table class="table table-condensed table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <td><b>Key</b></td>
                        <td><b>Name</b></td>
                        <td><b>Club</b></td>
                        <td><b>Val</b></td>
                        <td><b>Tot</b></td>
                        <td><b>G</b></td>
                        <td><b>PPG</b></td>
                        <td><b>T6</b></td>
                        <td><b>G6</b></td>
                        <td><b>PPG6</b></td>
                        <td><b>PPM</b></td>
                        <td><b>PPM6</b></td>
                        <td><b>PMG</b></td>
                        {%for week in range(max_week, 0, -1)%} 
                            <td><b>{{ week }}</b></td>
                        {%endfor%}
                    </tr>
                </thead>
                {%for player in players%}
                    <tr>
                        <td>{{player.id}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.club}}</td>
                        <td>{{player.value}}</td>
                        <td>{{player.total}}</td>
                        <td>{{player.games}}</td>
                        <td>{{player.ppg}}</td>
                        <td>{{player.t6}}</td>
                        <td>{{player.g6}}</td>
                        <td>{{player.ppg6}}</td>
                        <td>{{player.ppm}}</td>
                        <td>{{player.ppm6}}</td>
                        <td>{{player.ppmg}}</td>
                        {%for week in player.weeks | reverse%} 
                            <td>{{ week }}</td>
                        {%endfor%} 
                    </tr>
                {%endfor%}
                
            </table>
        </div>
    </div>
</div>

</body>

</html>